body {
    font-family: 'Roboto Condensed','Roboto', sans-serif;
}

h1 {
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-align: left;
    padding-left: 14.5px;
    padding-right: 14.5px; 
}

h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-align: left;
    padding-left: 72px;
    padding-top: 125px;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: left;
    padding-left: 72px;
    padding-top: 125px;
    margin-top: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14;
    text-align: left;
    padding-left: 72px;
    /*padding-right: 72px;*/
    color: white;
}

.pblack { 
    color: black;    
}

a:link, a:visited {
    text-decoration: none;
    font-weight: 400;
    font-size: 15;
}

.awhite {
    color: white;    
}

.ablack {
    color: black;    
}

ul {
    float: right;
    text-align: right; 
}

ul li {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: inline-block; /* Отображать как строчный элемент */
    padding-left: 14.5px; /* Значение полей */
    padding-right: 14.5px; 
   }

#rectangle_navbar{
    height: 56px;
    background: white;
    }

#rectangle_main_dark{
    margin: 0px;
    max-width: 100%;
    height: 404px;
    background: #292929 ;
    }

#rectangle_main_white{
    margin: 0px;
    max-width: 100%;
    height: 404px;
    background: white ;
    }

#rectangle_txt_white{
    margin: 0px;
    height: 404px;
    padding-top: 0px;
    padding-right: 72px;
    background: white ;
    }

#rectangle_txt_dark{
    margin: 0px;
    height: 404px;
    padding-left: 72px;
    background: #292929 ;
    }

#main_pic_r{
    max-width: 577px;
    height: 404px;
    float: right;
    }

#main_pic_w{
    max-width: 577px;
    height: 404px;
    float: left;
    }